.userCard {
  border: solid 2px blue; 
  border-radius: 20px;

  padding: 20px;
  margin: 20px;
  background-color: rgb(235, 219, 244);

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.userCard h3 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(112, 28, 67);
  font-family: "Raleway", sans-serif;
  padding: 15px 15px;

  background-color: rgb(235, 236, 209);
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.userCard p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(50, 21, 35);
  font-family: "Raleway", sans-serif;
  padding: 20px 10px 10px;
}

.userCard span {
  color: blue;
}


